<span style="left:15cm;		top:0.5cm"	>{{cheque[0].importe | moneda}}----</span>

<span style="left:6.5cm;	top:1.4cm"	>{{cheque[0].emisionDia}}</span>
<span style="left:7.7cm;	top:1.4cm"	>{{cheque[0].emisionMes | uppercase}}</span>
<span style="left:11.4cm;	top:1.4cm"	>{{cheque[0].emisionAnio}}</span>

<span style="left:5.3cm;	top:2cm"	>{{cheque[0].pagoDia}}</span>
<span style="left:7cm;		top:2cm"	>{{cheque[0].pagoMes | uppercase}}</span>
<span style="left:10.8cm;	top:2cm"	>{{cheque[0].pagoAnio}}</span>

<span style="left:6.5cm;	top:2.7cm"	>{{cheque[0].destino | uppercase}}</span>

<span style="left:8.3cm;	top:3.3cm"	>{{cheque[0].importeLetras1 | uppercase}}</span>
<span style="left:5cm;		top:3.9cm"	>{{cheque[0].importeLetras2 | uppercase}}</span>